.application.pf1-v2 {
  .window-content {
    input[type="checkbox"] {
      // TODO: replace --pf1-v2-checkbox-background with --checkbox-background-color

      &::before {
        color: var(--pf1-v2-checkbox-background);
        font-weight: normal;
      }

      &::after {
        all: unset;
      }

      &:indeterminate {
        &::before {
          content: "\f0fe";
        }
      }

      &:checked {
        &::before {
          font-family: var(--font-awesome); // Undo duotone which we don't have license for
          font-weight: bold;
          color: var(--pf1-v2-checkbox-background);

          position: initial; // Fix for Foundry v13
        }
      }

      &:disabled {
        &::before {
          color: var(--checkbox-disabled-color);
        }
      }
    }

    :is(input[type="checkbox"], input[type="radio"]) {
      &:is(:active, :focus-visible) {
        box-shadow: unset;
        border-color: var(--pf1-v2-border-tertiary);

        &:before {
          outline: unset;
        }
      }
    }

    :is(
        input[type="text"],
        input[type="number"],
        input[type="password"],
        input[type="date"],
        input[type="time"],
        input[type="search"],
        select,
        textarea
      ) {
      background: var(--pf1-v2-background-input);
      border: var(--pf1-v2-border-width) solid var(--pf1-v2-border-input);
      border-radius: var(--pf1-v2-border-radius);
      color: var(--pf1-v2-text);
      outline: unset;

      &:is(:active, :focus) {
        box-shadow: unset;
        border-color: var(--pf1-v2-border-primary);
        outline: var(--pf1-v2-border-width) solid var(--pf1-v2-border-primary);
      }

      &:disabled {
        background: var(--pf1-v2-background-fade-15);
        border-color: transparent;
        color: var(--pf1-v2-text-muted);
      }
    }

    select {
      cursor: pointer;

      option {
        background: var(--pf1-v2-background-app);
        color: var(--pf1-v2-text);
      }
    }

    input[type="range"] {
      --range-track-color: var(--pf1-v2-slider-color);
      --range-thumb-background-color: var(--pf1-v2-background-primary);
      --range-thumb-border-color: transparent;

      + .range-value {
        border: var(--pf1-v2-border-width) solid var(--pf1-v2-border-muted);
      }
    }

    label[for] {
      cursor: pointer;
    }

    label.checkbox {
      &:hover {
        background-color: var(--pf1-v2-background-fade-10);
        border-radius: 3px;
      }
    }

    .button {
      background: var(--pf1-v2-background-input);
      color: var(--pf1-v2-text);
      border: 1px solid var(--button-border-color);
      border-radius: var(--pf1-v2-border-radius);
      cursor: pointer;
      padding: 0 0.5rem;
      transition: background-color 0.5s, border-color 0.5s;

      &:is(:active, :focus) {
        border-color: var(--pf1-v2-border-primary);
        box-shadow: unset;
        outline: var(--pf1-v2-border-width) solid var(--pf1-v2-border-primary);
      }

      // Match Foundry's hover style
      &:hover {
        background: var(--button-hover-background-color);
        color: var(--button-hover-text-color);
        border-color: var(--button-hover-border-color);
      }

      &:is(:disabled, .disabled) {
        border-color: transparent;
        background: var(--pf1-v2-background-fade-15);
        color: var(--pf1-v2-text-muted);
      }
    }

    .entry-control button.icon-button {
      padding: 0.5rem;

      > i {
        margin-right: unset;
      }
    }


    .radio {
      display: flex;
      gap: 0;
      flex: 0;
      flex-flow: row nowrap;
      border: var(--pf1-v2-border-width) solid var(--pf1-v2-border-input);
      background-color: var(--pf1-v2-background-input);
      cursor: pointer;
      border-radius: var(--pf1-v2-border-radius);

      input {
        display: none;

        &:checked + label {
          background-color: var(--pf1-v2-checkbox-background);
          color: var(--pf1-v2-checkbox-color);
        }

        &:disabled + label {
          color: var(--pf1-v2-text-muted);
        }
      }

      label {
        padding: 0 0.5rem;
        border: 1px solid transparent;
        border-radius: var(--pf1-v2-border-radius);
        height: calc(var(--input-height) - 2px);
        line-height: var(--input-height);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }

    .hint {
      color: var(--pf1-v2-text-muted);
      font-size: var(--font-size-14);
      line-height: var(--line-height-14);
    }

    .warning {
      color: var(--pf1-v2-text-warning);
      font-size: var(--font-size-14);
    }

    .form-group {
      span.units {
        color: var(--pf1-v2-text-muted);
      }
    }
  }
}
