<div class="pf1 chat-card damage-card dice-roll {{css}}"{{#if token}} data-token-uuid="{{token.uuid}}"{{/if}}{{#if actor}} data-actor-uuid="{{actor.uuid}}"{{/if}}>
  <h2>{{#if isHealing}}{{localize "PF1.Healing"}}{{else}}{{localize "PF1.Damage"}}{{/if}}</h2>

  <div class="dice-result">
    <h3 class="roll-total{{#if hasDetails}} has-details{{/if}}">
      <i class="fa-solid fa-dice-d20" inert></i>
      {{total}}
    </h3>

    {{{details}}}
  </div>

  <div class="card-buttons flexrow">
    <button type="button" data-action="applyDamage" data-value="{{value.total}}">{{localize "PF1.Apply"}}</button>
    <button type="button" data-action="applyDamage" data-value="{{value.half}}">{{localize "PF1.ApplyHalf"}}</button>
  </div>
</div>
