.pf1.sheet.item {
  min-width: 580px;
  min-height: 620px;
  max-height: calc(100% - 24px);

  form {
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */

    .sheet-header {
      img.profile {
        border: none;
      }
    }

    .primary-body {
      .tab {
        padding: 0 5px;
      }
    }

    // General

    :is(.entry-selector, .speed-editor, .trait-selector, .item-selector) {
      flex: 0 0 16px;
      color: var(--pf1-control-color);
      font-size: var(--font-size-12);
    }

    /* ----------------------------------------- */
    /*  Item Details Form                        */
    /* ----------------------------------------- */

    .details {
      // Item Sheet form fields
      input[type="text"],
      input[type="number"],
      select {
        border: 1px solid var(--pf1-tan);
        background: var(--pf1-bg-dark-0);
      }

      .traits-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
      }

      .form-group.uses-per {
        input {
          flex: 1;
        }

        select {
          flex: 3;
        }
      }

      .item-link {
        .image {
          flex: 0 24px;
        }

        .item-name {
          flex: 1;
          text-align: left;
          padding: 0; // Override Foundry padding
        }

        [data-item-id]:hover {
          .item-name {
            color: var(--pf1-item-hover-text);
            text-shadow: var(--pf1-item-hover-shadow);
            cursor: pointer;
          }
        }
      }

      span.sep {
        flex: 0 1rem;
        text-align: center;
      }

      .item-list {
        .item {
          line-height: 24px;
          border-bottom: 1px solid var(--pf1-faint);

          &:last-child {
            border-bottom: none;
          }

          .checkbox {
            flex: 0;
          }
        }
      }
    }

    .tab {
      // Item list header
      .item-list-header {
        margin: 2px 0;
        padding: 0;
        background: var(--pf1-bg-dark-0);
        border: var(--pf1-border-groove);
        font-weight: bold;
        line-height: 24px;

        h3 {
          padding-left: 5px;
          font-size: var(--font-size-12);
          font-weight: bold;
        }
      }

      .item-weight {
        flex: 0 0 60px;
        border-left: 1px solid var(--pf1-faint);
        border-right: 1px solid var(--pf1-faint);
      }

      .item-list {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      // Item Dropdown Summary in containers
      .item-summary {
        flex: 0 0 100%;
        font-size: var(--font-size-12);
        line-height: 1.3;
        padding: 0.25em 0.5em;
        border-top: 1px solid var(--pf1-faint);
      }
    }

    /* ----------------------------------------- */
    /*  Item Actions                             */
    /* ----------------------------------------- */

    h4 {
      &:is(.damage-header, .attack-header) {
        margin: 0;
        padding: 0;
        font-weight: bold;
        line-height: unset;
        color: var(--pf1-olive);
        border: unset;
      }
    }

    .damage-parts,
    .attack-parts {
      list-style: none;
      margin: 0;
      padding: 0;

      .damage-part,
      .attack-part {
        flex: 0 0 100%;
        padding: 2px;

        input {
          flex: 3;
          margin-right: 3px;
        }

        input:not(:first-child) {
          margin-left: 5px;
        }

        select {
          margin-left: 5px;
          flex: 1;
        }
      }
    }

    .tab.details {
      .actions {
        .action-controls {
          flex: 0 64px;
        }
      }
    }

    .tab.changes {
      .context-notes {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;

        .context-note {
          flex: 0 0 100%;
          padding: 1px;

          .context-note-target {
            border: 1px solid var(--pf1-tan);
            background: var(--pf1-bg-dark-0);
            white-space: nowrap;
            overflow: hidden;
            height: 24px;
            line-height: 24px;
            border-radius: 4px;
            text-align: center;
            cursor: pointer;
            font-size: var(--font-size-12);

            &:hover {
              box-shadow: 0 0 8px var(--pf1-red);
            }

            &.invalid {
              border: var(--pf1-invalid-input-border);
              background: url(icons/misc/hazard-sign.svg) no-repeat 95% 50% var(--pf1-bg-dark-0);
              background-size: contain;
            }
          }
        }
      }
    }

    .conditionals {
      .conditional,
      .conditional-modifier {
        padding: 1px;

        select {
          max-width: max-content;
          min-width: 80px;
          flex: 1;
          border: 1px solid var(--pf1-tan);
          background: var(--pf1-bg-dark-0);
        }

        select:not(:first-child) {
          margin-left: 5px;
        }

        select:invalid {
          border: var(--pf1-invalid-input-border);
          background: url(icons/misc/hazard-sign.svg) no-repeat 80% 50% var(--pf1-bg-dark-0);
          background-size: contain;
        }

        input[type="text"] {
          height: 24px;
          border: 1px solid var(--pf1-tan);
          background: var(--pf1-bg-dark-0);
        }

        input[type="text"]:invalid {
          border: var(--pf1-invalid-input-border);
          background: url(icons/misc/hazard-sign.svg) no-repeat 100% 50% var(--pf1-bg-dark-0);
          background-size: contain;
        }

        input[type="text"]:not(:first-child) {
          margin-left: 5px;
        }

        input[class*="conditional-name"]:not(:first-child) {
          margin-left: 0;
        }

        .conditional-name,
        .conditional-formula {
          min-width: 140px;
        }

        .conditional-damage-type {
          min-width: 90px;
          max-width: 200px;
        }

        .form-group {
          padding-left: 30px;
        }
      }
    }

    .controls {
      a {
        flex: 0;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.3em;

        color: var(--pf1-control-color);

        border: unset; // Undo general style

        &.disabled {
          color: var(--color-text-dark-inactive);
        }
      }
    }

    .recharge {
      span {
        line-height: 24px;
        flex: 0 0 80px;
      }

      label.checkbox {
        flex: 0 0 80px;
        text-align: right;
      }
    }

    .formula,
    .text-input {
      flex: 10 0 80px;

      .result {
        .small {
          flex: 0 10 20px;
        }
      }
    }

    .weapon-properties label.checkbox {
      flex: 0 0 98px;
    }

    /* ----------------------------------------- */
    /*  Loot Sheet
    /* ----------------------------------------- */

    div[data-tab="description"][data-group="primary"] {
      .description-content {
        overflow: hidden;

        &.unidentified-description {
          max-height: min-content;
        }

        &.identified-description {
          flex: 3;
        }

        .editor {
          flex: 1;
          min-height: 3rem; // To fit the edit button

          &.prosemirror {
            min-height: 10rem; // Too high min height (e.g. 16rem) causes the layout to break
          }
        }
      }

      .description-content {
        // Ensure content is shown and scrollable
        display: flex;
        flex-flow: column nowrap;

        &:has(.editor.prosemirror) {
          // Increase size when editor is active
          flex: 3;
        }
      }

      h3 {
        .unidentified {
          font-size: 70%;
        }
      }
    }

    footer {
      flex: 0;
    }

    .tab[data-tab="advanced"] {
      .tags {
        .form-group {
          align-items: flex-start;
        }
      }
    }
  }
}
