#tooltip.pf1-v2 {
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--pf1-v2-text-light);
  border: var(--pf1-v2-border-width) solid var(--pf1-v2-border-primary);
  border-radius: var(--pf1-v2-border-radius);
  font-size: var(--font-size-12);
  padding: 0.25rem 0.5rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
