.pf1.sheet.actor {
  form {
    .tab.attributes {
      .armor-attributes {
        flex: 0;
        display: flex;
        flex-flow: row nowrap;
        gap: 3px;
      }

      .traits {
        input {
          border: unset;
          background: unset;
        }
      }

      .base-traits {
        flex: 0;
        display: flex;
        flex-flow: row nowrap;
        gap: 3px;

        select {
          text-align: center;
        }

        .reach .value {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
