.pf1.sheet.actor.haunt {
  min-width: 440px;
  min-height: 200px;

  form {
    .sheet-header {
      img.profile {
        flex: 0 0 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
      }

      .header-top {
        max-height: 40px;

        .charname {
          padding: 0;
          margin: 0;

          input[type="text"] {
            padding: 0;
            margin: 0;
            font-size: var(--font-size-24);
          }
        }

        .charlevel {
          flex: 0 0 128px;
        }
      }

      .attribute.health {
        border-right: 0;
      }

      .summary {
        .alignment {
          width: 100%;
          padding: 1px 3px;
          color: black;
        }

        // Note: Only used by alignment selection
        .controls {
          .control {
            flex: 0;
            visibility: hidden;
            margin-right: 4px;
          }

          &:hover {
            .control {
              visibility: visible;
            }
          }
        }

        .aura {
          width: 66%;
          display: flex;

          > label {
            padding: 0px 3px;
          }

          .aura-fields {
            flex: 1 0;

            .aura-strength {
              text-align: left;
              font-weight: bold;
              white-space: nowrap;
              color: var(--pf1-olive);
            }

            input[type="text"] {
              width: 50%;
              height: var(--line-height-20);
              vertical-align: baseline;
              dominant-baseline: middle;
            }

            select {
              width: 50%;
              height: var(--line-height-20);
              vertical-align: baseline;
              dominant-baseline: middle;
            }

            label.checkbox {
              vertical-align: baseline;
              dominant-baseline: middle;
            }
          }
        }
      }
    }

    .tab.summary {
      overflow: hidden auto;
      .scrollbar();

      .inputs {
        gap: 1px 3px;
      }

      .details,
      .effect,
      .destruction {
        display: flex;
        flex-flow: row wrap;
        gap: 3px;

        h3 {
          flex: 1 100%;
        }
      }

      .notice {
        .notice-dc {
          flex: 0.25;
        }

        .notice-description {
          flex: 3;
        }
      }

      :is(.health, .area) {
        gap: unset;
        row-gap: 1px;

        flex: 2;
      }

      .area-type {
        font-size: var(--font-size-13);
        border: none;
        text-align: center;
      }

      .extra-details {
        flex: 3;
      }

      .full-width {
        width: 100%;
        gap: 1px 3px;
      }

      .templates .tag-list {
        flex: 1 0 90%;

        .tag {
          margin-bottom: 2px;
          line-height: 1.6;
          border: none;
          background: transparent;
        }
      }

      .item-groups-list {
        max-height: 125px;
        overflow: hidden auto;
      }

      .item-detail.item-type {
        flex: 0 0 100px;
      }
    }

    .tab.summary :is(.effect, .destruction),
    .tab.actor-notes {
      display: flex;
      width: 100%;
      flex-flow: column;

      .editor {
        --menu-background: rgba(0, 0, 0, 0.1);
        --color-control-bg: #d9d8c8;
      }
    }

    .tab.summary .effect,
    .tab.summary .destruction {
      gap: 0px;

      .editor {
        border: 1px solid;
        border-top: none;
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
      }
    }
  }
}
