.pf1.sheet.actor.vehicle {
  min-width: 600px;
  min-height: 650px;

  form {
    > header {
      display: flex;
      flex-flow: row;

      img.profile {
        flex: 0 0 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
      }

      .header-top {
        max-height: 40px;

        .charname {
          padding: 0;
          margin: 0;

          input[type="text"] {
            padding: 0;
            margin: 0;
            font-size: var(--font-size-24);
          }
        }
      }

      .summary {
        li {
          height: 30px;
          white-space: nowrap;
          gap: 3px;

          label {
            min-width: 35%;
          }

          input {
            width: 64%;
            text-align: center;
          }

          select {
            width: 100%;
            text-align: center;
          }
        }
      }

      .attribute.health {
        border-right: 0;
      }
    }

    .tab.summary {
      overflow: hidden auto;
      .scrollbar();

      .defenses,
      .combat,
      .health,
      .crew,
      .driving {
        display: flex;
        flex-flow: row wrap;
        gap: 1px 3px;

        h3 {
          flex: 1 100%;
        }
      }

      .driving {
        flex-flow: column nowrap;
      }

      .crew {
        padding-left: 3px;
      }

      .driver {
        padding-bottom: 2px;
        gap: 1px 5px;
      }

      .driver-info {
        flex-flow: nowrap;
        padding-left: 3px;

        img {
          flex: 0 0 32px;
          width: 32px;
          border: none;
        }

        h3 {
          padding-left: 5px;
          border: unset;
        }
      }

      .driver-skill {
        padding-left: 5px;
        padding-right: 5px;

        select {
          text-align: center;
        }
      }

      .driving-info,
      .capacity {
        display: flex;
        flex: 1;
        gap: 3px;

        h3 {
          flex: 1 100%;
        }
      }

      .combat-attacks {
        height: 20%;
      }
    }

    .item-detail.item-type {
      flex: 0 0 100px;
    }

    .tab.actor-description {
      overflow: hidden scroll;
      scrollbar-width: thin;
      scrollbar-color: var(--pf1-scrollbar-handle) var(--pf1-scrollbar-background);
    }

    .tab.actor-description,
    .tab.actor-notes {
      width: 100%;
      flex-flow: column;

      .editor {
        --menu-background: rgba(0, 0, 0, 0.1);
        --color-control-bg: #d9d8c8;
      }
    }
  }
}
