.pf1-v2.application.changelog {
  min-width: 500px;

  section.form-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;

    section.content {
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 0.5rem;
    }

    footer {
      display: flex;
      align-items: center;

      label {
        cursor: pointer;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
